:root {
    --background-principal-containers: rgb(207,219,203, 0.8);
    --vinotinto-mundial: #831145;
    --grey-letters-labels: #5a5a5a;
    --grey-letters-inputs: #939D92;
    --very-sm: 10px;
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.inactive {
    display: none;
}

/* seccion del login */
.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/imgs/background-balones.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    width: 80%;
    height: 95%;
    background: var(--background-principal-containers);
    border-radius: 25px;
}
.login-logo {
    margin-top: 15px;
    width: 90%;
}
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-inputs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label-hero {
    padding-left: 10px;
    color: var(--grey-letters-labels);
    font-size: var(--sm);
}
.input-hero {
    margin-bottom: 8px;
    padding-left: 10px;
    width: 100%;
    height: 25px;
    color: var(--grey-letters-inputs);
    border: none;
    border-left: 4px solid var(--vinotinto-mundial);
}
.check {
    font-size: 12px;
}
.btn-hero {
    margin: 10px 0 30px 0; 
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 13px;
    color: white;
    background: var(--vinotinto-mundial);
    font-size: var(--md);
}
.btn-hero:hover {
    box-shadow: 0 4px 8px rgb(89 73 30 / 56%);
}
.warnings {
    position: absolute;
    z-index: 4;
    bottom: 40px;
    width: 80%;
    height: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 56%);
}
.warnings div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.warnings img {
    margin: 10px;
    width: 30px;
    height: 30px;
}
.warnings span {
    font-size: var(--sm);
}
.socialMedias-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    border: 2px solid var(--vinotinto-mundial);
    border-radius: 15px;
}
.socialMedias-title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 50px;
    width: 120%;
    /* background: rgb(207,219,203, 0.2); */

}
.title-hero {
    text-align: center;
    font-size: 10px;
}
.socialMedias-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.socialMedia-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialMedia-div span {
    font-size: 10px;
    color: var(--vinotinto-mundial);
}
.socialMedias-icons {
    width: 30px;
}

/* seccion de inscripcion.html */
.inscription-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/imgs/background-balones.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.inscription-logo {
    margin-top: 10px;
    width: 80%;
}
.forget-container {
    display: flex;
    flex-direction: column;
}
.forget {
    text-align: center;
    color: var(--vinotinto-mundial);
    font-size: var(--sm);
}


/* seccion index.html */
.index-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../assets/imgs/background-balones.png');
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../assets/imgs/background-balones.png');
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu {
    display: block;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}
nav {
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 40px;
    background: #165499;
}
.desktop-menu {
    display: none;
}
.desktop-menu ul {
    display: flex;
    margin: 0 40px;
}
.desktop-menu ul li {
    margin-left: 30px;
}
.desktop-menu ul li a {
    color: white;
}
.desktop-menu ul li a:hover {
    border-bottom: 2px solid white;
}
.perfil:hover > .perfil-ul {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfil-ul {
    position: absolute;
    display: none !important;
    padding: 15px;
    top: 40px;
    left: 95px;
    width: auto;
    height: auto;
    background: rgb(207,219,203, 0.9);
    border-radius: 10px;
}
.perfil-ul div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--vinotinto-mundial);
}
.perfil-ul span {  
    color: #165499;
    font-size: var(--md);
}
.perfil-ul input {
    background: var(--background-principal-containers);
    border: none;
}
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 40px;
    background: #EAEAE8;
}
.href-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
}
.href-mobile:nth-child(1) {
    height: 60%;
    border-bottom: 2px solid #165499;
}
.href-mobile:nth-child(2) {
    height: 30%;
}
.href-mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.href-mobile ul li a {
    color: #165499;
    font-size: var(--lg);
}
.banner {
    position: relative;
    top: 40px;
    width: 100%;
    height: 55px;
    background-image: url("../assets/imgs/Banner_Farmacias_NAV.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner1 {
    position: relative;
    top: 40px;
    width: 100%;
    height: 74px;
    background-image: url("../assets/imgs/Banner_Farmacias_Marcadores.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0 100px 0;
    width: 90%;
}
.options-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-gap: 40px;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}
.options-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 240px;
    background: rgb(207,219,203, 0.7);
    border-radius: 25px;
}
.option-info {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
.h3-options {
    margin: 0;
    color: var(--vinotinto-mundial);
    font-size: 25px;
    font-weight: 700;
}
.option-info img {
    width: 100px;
    height: 100px;
}
.option-btn {
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
}
.option-btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background: var(--vinotinto-mundial);
    color: white;
    border-radius: 10px;
}
.index-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%; 
    background: #165499;
    color: white;
}
footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%; 
    background: #165499;
    color: white;
}
.footer-img {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -27px;
}
footer ul {
    margin: 0 40px;
}
footer ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}
footer ul li span {
    font-size: var(--sm);
}
footer ul li a {
    color: white;
    font-size: var(--sm);
}
.footer-left {
    margin-top: 20px;
    width: 50%;
    text-align: left;
}
.footer-right {
    margin-top: 20px;
    width: 50%;
}

.marcadores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px;
    width: 90%;
}
.main-logo-container {
    position: fixed;
    z-index: 3;
    top: 10px;
}
.marcadores-logo {
    width: 200px;
}
.h2-hero {
    text-align: center;
    margin: 20px 0;
    color: white;
    font-size: 30px;
}
.form-marcadores {
    width: 100%;
}
.form-marcadores-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 288px);
    grid-gap: 15px;
    justify-content: center;
}
.cards-marcadores {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    height: 335px;
    background: white;
    box-shadow: 0 4px 8px rgb(89 73 30 / 56%);
    border: 2px solid var(--vinotinto-mundial);
}
/* #FBE6B4 */
.cards-marcadores-title {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -20px;
    margin: 0;
    width: 100%;
}
.cards-marcadores-title div {
    padding: 5px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 56%);
}
.cards-marcadores-title div {
    background: var(--vinotinto-mundial);
}
.h3-hero {
    text-align: center;
    margin: 0;
    color: white;
}
.info-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}
.info-cards-container {
    position: relative;
    padding: 7px 0 2px 0;
    width: 90%;
    /* border-bottom: 1px solid var(--vinotinto-mundial); */
}
.info-date {
    position: absolute;
    text-align: center;
    padding: 0 5px;
    top: -12px;
    left: 0;
    width: 120px;
    background: #F9CECF;
    border-radius: 8px;
}
.span-hero {
    text-align: center;
    width: 40px;
    color: var(--vinotinto-mundial);
    font-size: var(--very-sm);
}
.general-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.countries {
    width: 30px;
    height: 30px;
}
.input-marker {
    text-align: center;
    width: 20px;
    border: 1px solid var(--vinotinto-mundial);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn-marcadores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 100%;
}
.btn-marcadores button {
    padding: 10px 10px;
    width: 80%;
    color: white;
    background: var(--vinotinto-mundial);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 56%);
    font-family: 'Rubik', sans-serif;

    transform: scale(1);
    transition: transform 0.2s ease-out
}
.btn-marcadores button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in
}

/* seccion de posicion */
.resultados-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/imgs/background-balones.png');
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
}
.resultados-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    background: #165499;
    color: white;
}
.posiciones-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 0 40px 0;
    width: 90%;
}
table {
    width: 100%;
    background: var(--vinotinto-mundial);
    border-radius: 10px;
}
th {
    color: white;
}


/* seccion del reglamento */
.reglamento-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    width: 90%;
}
article {
    padding: 15px;
    width: 100%;
    height: 700px;
    background: rgb(207, 207, 207);
    border-radius: 20px;
    overflow-y: scroll;
}
.pdf {
    width: 100%;
    height: 100%;
}


@media (min-width: 425px) {
    .banner {
        height: 62px;
    }
    .banner1 {
        height: 98px;
    }
}
@media (min-width: 768px) {
    .banner {
        height: 87px;
    }
    .banner1 {
        height: 178px;
    }
    .desktop-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        width: 100%;
    }
    .menu {
        display: none;
    }
    .login-container {
        width: 50%;
    }
    .login-logo {
        width: 40%;
    }
    .login-form-container {
        width: 80%;
    }
    .warnings {
        bottom: 50px;
    }
    .inscription-logo {
        width: 40%;
    }
    .label-hero {
        font-size: var(--md);
    }
    .input-hero {
        height: 30px;
    }
    .btn-hero {
        width: 50%;
    }
    .socialMedias-container {
        width: 80%;
    }
    .options-container {
        grid-template-columns: repeat(auto-fit, 260px);
    }
    .options-card {
        width: 260px;
        height: 280px;
        transform: scale(1);
        transition: transform .3s ease-out;
    }
    .options-card:hover {
        transform: scale(1.1);
        transition: transform .3s ease-out;
    }
    .cards-marcadores {
        transform: scale(1);
            transition: transform 0.2s ease-out;
    }
    .cards-marcadores:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in;
    }
    .btn-marcadores button {
        width: 30%;
        height: 40px;
        font-size: var(--md);
    }
}

@media (min-width: 1024px) {
    .banner {
        height: 113px;
    }
    .banner1 {
        height: 237px;
    }
}

@media (min-width: 1440px) {
    .banner {
        height: 137px;
    }
    .banner1 {
        height: 334px;
    }
    .options-container {
        margin-top: 0;
    }
}
@media (min-width: 2560px) {
    .banner1 {
        height: 592px;
    }
}
