:root {
    --background-principal-containers: rgb(207,219,203, 0.8);
    --vinotinto-mundial: #831145;
    --grey-letters-labels: #5a5a5a;
    --grey-letters-inputs: #939D92;
    --very-sm: 10px;
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
a {
    text-decoration: none;
}

/* seccion del login */
.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/imgs/background-balones.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 80%;
    height: 95%;
    background: var(--background-principal-containers);
    border-radius: 25px;
}
.login-logo {
    margin-top: 15px;
    width: 220px;
}
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-inputs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label-hero {
    padding-left: 10px;
    color: var(--grey-letters-labels);
    font-size: var(--sm);
}
.input-hero {
    margin-bottom: 8px;
    padding-left: 10px;
    width: 92%;
    height: 25px;
    color: var(--grey-letters-inputs);
    border: none;
    border-left: 3px solid var(--vinotinto-mundial);
}
.check {
    font-size: 12px;
}
.btn-hero {
    margin: 10px 0 30px 0; 
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 13px;
    color: white;
    background: var(--vinotinto-mundial);
    font-size: var(--md);
}
.socialMedias-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    border: 2px solid var(--vinotinto-mundial);
    border-radius: 15px;
}
.socialMedias-title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 50px;
    width: 120%;
    /* background: rgb(207,219,203, 0.2); */

}
.title-hero {
    text-align: center;
    font-size: 10px;
}
.socialMedias-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.socialMedia-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
}
.socialMedia-div span {
    font-size: 10px;
    color: var(--vinotinto-mundial);
}
.socialMedias-icons {
    width: 30px;
}

/* seccion de inscripcion.html */
.inscription-logo {
    margin-top: 25px;
    width: 200px;
}
.forget-container {
    display: flex;
    flex-direction: column;
}
.forget {
    text-align: center;
    color: var(--vinotinto-mundial);
    font-size: var(--sm);
}


/* seccion index.html */
.main-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../assets/imgs/QATAR_Recurso\ 43.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .banner {
    width: 100%;
    height: 80px;
    background: var(--vinotinto-mundial);
} */
.marcadores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 90%;
}
.marcadores-logo {
    margin-bottom: 40px;
    width: 250px;
}
.form-marcadores {
    width: 100%;
}
.form-marcadores-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 288px);
    grid-gap: 15px;
}
.cards-marcadores {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    height: 335px;
    background: white;
    border: 2px solid var(--vinotinto-mundial);
}
.cards-marcadores-title {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -20px;
    margin: 0;
    width: 100%;
}
.cards-marcadores-title div {
    padding: 5px;
    width: auto;
    height: auto;
    background: var(--vinotinto-mundial);
    border-radius: 10px;
}
.h3-hero {
    text-align: center;
    margin: 0;
    color: white;
}
.info-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}
.info-cards-container {
    position: relative;
    padding: 7px 0 2px 0;
    width: 90%;
    border-bottom: 1px solid var(--vinotinto-mundial);
}
.info-date {
    position: absolute;
    text-align: center;
    padding: 0 5px;
    top: -12px;
    left: 0;
    width: 110px;
    background: #F9CECF;
    border-radius: 8px;
}
.span-hero {
    text-align: center;
    width: 40px;
    color: var(--vinotinto-mundial);
    font-size: var(--very-sm);
}
.general-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.countries {
    width: 30px;
    height: 30px;
}
.input-marker {
    text-align: center;
    width: 20px;
    border: 1px solid var(--vinotinto-mundial);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



@media (min-width: 700px) {
    .login-container {
        width: 50%;
    }
    .login-form-container {
        width: 80%;
    }
    .input-hero {
        height: 30px;
    }
    .btn-hero {
        width: 50%;
    }
    .socialMedias-container {
        width: 80%;
    }
}